span{
  margin-bottom: 3px;
  margin-right: 3px;
}
#selectSuboptions{
  postion:relative;
}
#inputContainer{
  position: relative;
  display:block;
  overflow:hidden;
  float:left;
  clear:both;
}
.inputBox{
  display:block;
  position:relative;
  float:right;
  clear:both
}
